* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* src/styles/colors.css */

:root {
  /* Paleta de colores principal */
  --color-primary-darkest: #00296B;
  --color-primary-dark: #003F88;
  --color-primary: #00509D;
  --color-accent-dark: #FDC500;
  --color-accent: #FFD500;

  /* Colores adicionales (manteniendo los colores anteriores que te gustaban) */
  --color-background-light: #f5f7ff;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-button-primary: #6b3dbf;
  --color-button-hover: #5431a8;
  --color-background-secondary: #d6d5e3;
}
